.main-container {
  display: grid;
  grid-template-columns: 11.125rem calc(100% - 11.125rem);
  grid-template-rows: 4.5rem calc(100vh - 4.5rem);
  grid-template-areas: 
  ' side header '
  ' side category ';
}